body {
    background-color: rgb(185, 194, 192);
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}

h1 {
  background-color: rgb(227, 231, 235);
  text-align: center;
  padding: 20px;
}

h4 {
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
}

ul {
  background-color: #111;
  list-style-type: none;
  margin: 10px, 10px, 10px, 10px;
  padding: 10px, 10px, 10px, 10px;
  overflow: hidden;
  background-color: #333;
}
  
li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  margin: 10px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}

p {
  clear: left;
  float: left;
  width: 65%;
  padding: 0px;
}

img {
  width: 250px;
  margin-left: 42%;
  margin-right: 40%;
  padding: 0px;
  margin-bottom: 50px;
  align-content: center;
}

section {
  clear: right;
  float: right;
  width: 25%;
}